{% extends 'base.html.twig' %}

{% block body %}
   {# {% if language_choisi == 'java' %}
    <p>MAUVAIS CHOIX !!</p>
    {% endif %}
    <h1>Vous avez choisi le language : {{ language_choisi }}</h1>#}
    <h1>Votre voiture avec l'id {{ car.id }}</h1>

        <h2>Modele: {{ car.model }}</h2>
        <h2>Prix: {{ car.price }}</h2>
        {% if car.image.name is defined %}
         <img src="{{ asset('images/')~car.image.name }}">
                {% else %}
                <p>Pas d'image !</p>
        {% endif %}
        {% for keyword in car.keywords %}
            <p>{{ keyword.name }} {% if not loop.last %}, {% endif %}</p>
        {% endfor %}
    <a href="{{ path('home') }}">Home</a>
{% endblock %}